.product-card{
	list-style: none;
	display: block;
	width: 240px;
	max-width: 240px;
}
.product-card .thumb{
	position: relative;
	margin-bottom: 10px;

}
.product-card .thumb a{
	display: flex;
	height: 200px;
	align-items: center;
	justify-content: center;
}
.product-card .thumb a img{
	max-width: 95%;
	max-height: 95%;

}
.product-card .thumb .add-to-favorites{
	position: absolute;
	right: 10px;
	top: 10px;
	height: 40px;
	width: 40px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	border-radius: 4px;
}
.product-card .thumb .add-to-favorites:hover {
	background: #e7e7e7;
	transition: 0.3s;
}
.product-card .thumb .add-to-favorites svg{
	fill: #ffa900;
	height: 24px;
	width: 24px;
}
.product-card .title{
	font-size: 14px;
	color: #333;
	text-decoration: none;
	margin-bottom: 15px;
	display: block;
}
.product-card .title:hover {
	color: #f00;
	text-decoration: underline;
}
.product-card .old-price{
	font-size: 14px;
	line-height: 1;
	text-decoration: line-through;
	color: #a6a5a5;
	margin-bottom: 10px;
}
.product-card .price{
	font-size: 24px;
	color: #f84147;
}
.availablity{
	font-size: 12px;
	color: #797878;
	font-weight: 300; 
}
.home__product-list ul{
	display: flex;
	padding: 0;
	margin: 0;
}