body{
padding: 0;
margin: 0;
}
.container {
	width: 90%;
	margin: 0 auto 0 auto;
}
.header {
	background-color: #221f1f;
	height: 72px;
	color: #fff;
	display: flex;
	align-items: center;
}
.header>.container {
display: flex;	
align-items: center;
}
.header__menu-toggle{
	position: relative;
	width: 40px;
	min-width: 40px;
	height: 40px;
	margin-right: 18px;
	border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
}
.header__menu-toggle:hover {
background: #4e4c4c;
transition: 0.3s;
}
.header__menu-toggle:active {
background: #f00;
transition: 0.3s;
}
.header__menu-toggle > div{
width: 24px;
	height: 2px;
	background: #fff;
	top: 50%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.header__menu-toggle > div:nth-child(1) {
top: 12px;
}
.header__menu-toggle > div:nth-child(3) {
top: calc(100% - 12px);
}
.header__menu-toggle:hover > div:nth-child(2){
	display: none;

}
.header__menu-toggle:hover > div:nth-child(1) {
	transform: translateX(-50%) rotate(45deg) ;
		top: 50%;
		transition: 0.3s;
}
.header__menu-toggle:hover> div:nth-child(3) {
	transform: translateX(-50%) rotate(-45deg) ;
	top: 50%;
	transition: 0.3s;
}
.header__catalog-toggle button {
	appearence:none;
	background: #4e4c4c;
	border: none;
	display: flex;
	color: #fff;
	align-items: center;
	margin-left: 20px;
	border-radius: 4px;
	height: 40px;
	padding: 0 14px;
	font-size: 16px; 
	transition: 0.3s;
    cursor: pointer;
}
.header__catalog-toggle button:hover {
	background: #7a7979;
	transition: 0.3s;
}
.header__catalog-toggle  button img {
	width: 20px;
	min-width: 20px;
	height: auto;
	margin-right: 10px;
	
}
